#app{
    height: 100vh;
}
.box{
    height: 60vh;
}
.light{
    aspect-ratio: 1;
}
.light-3{
    height: 30%;
}
.light-4{
    height: 20%;
}
.selected{
    box-shadow:
    0 0 2em 2em #f3e66d;
}
.bg-purple{
    background-color: purple;
}